// Font Variables
$j-base-font-family:                    $tahoma-font-stack;
$j-base-font-size:                      12px;
$j-page-banner-title-font-size:         12px;
$j-button-font-weight:                  bold;
$j-header-bar-font-weight:              bold;
$j-primary-button-text-shadow:          none;
$j-primary-button-text-shadow-pressed:  none;