// Font Variables
$j-base-font-family:                    $roboto-font-stack;
$j-base-font-size:                      12px;
$j-page-banner-title-font-size:         24px;
$j-button-font-weight:                  normal;
$j-header-bar-font-weight:              normal;
$j-grid-sort-indicator-shadow:          0px 1px 1px $clr-gray-b03;
$j-aboutbox-font-family:                $calibri-font-stack;
$j-aboutbox-header-font-size:           14px;
$j-aboutbox-subheader-font-size:        12px;
$j-aboutbox-content-font-size:          10.5px;
$j-label-optional-indicator-font-size:  11px;
$j-notification-count-font-size:        10px;
