/* line 17, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.13.alpha.4/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 40, ../../theme-base/sass/_base-styles.scss */
.j-page-banner-container {
  height: 37px;
  background-color: blue;
  border-bottom: 1px solid blue;
  width: 100%;
}

/* line 46, ../../theme-base/sass/_base-styles.scss */
.j-page-banner-content {
  height: 37px;
}

/* line 49, ../../theme-base/sass/_base-styles.scss */
.j-page-banner-title-text {
  font-family: Papyrus;
  font-weight: bold;
  font-size: 12px;
  color: lime;
  padding-left: 7px !important;
  white-space: nowrap;
  width: 100%;
}

/* line 55, ../../theme-base/sass/_base-styles.scss */
.j-primary-header-bar {
  border: 1px solid #e30b5c;
  border-right-color: red;
  border-bottom-color: red;
  background-color: #8b00ff;
}

/* line 58, ../../theme-base/sass/_base-styles.scss */
.j-header-bar-title-row {
  font-family: Papyrus;
  font-weight: bold;
  font-size: 12px;
  color: lime;
  margin: 3px 8px 4px 8px;
  border-bottom: 1px solid red;
}

/* line 63, ../../theme-base/sass/_base-styles.scss */
.j-header-bar-toolbar-row {
  height: 34px;
}

/* line 71, ../../theme-base/sass/_base-styles.scss */
.j-button {
  background: red url(images/theme/dialogButtonBg.gif) repeat-x;
  background-size: 100% 100%;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  display: inline-block;
  border: 1px solid #c9ffe5;
  border-right-color: #e30b5c;
  border-bottom-color: #e30b5c;
  margin: 0;
}
/* line 119, ../../theme-base/sass/_layout-mixins.scss */
.j-button > a {
  min-height: 20px;
  line-height: 16px;
  text-decoration: none;
  display: inline-block;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 125, ../../theme-base/sass/_layout-mixins.scss */
.j-button > a > span {
  font-family: Papyrus;
  font-weight: bold;
  font-size: 12px;
  color: lime;
  padding: 2px 3px 2px 3px;
  white-space: nowrap;
  vertical-align: middle;
}
/* line 148, ../../theme-base/sass/_layout-mixins.scss */
.j-button:hover, .j-button:focus {
  outline: 0;
  cursor: pointer;
  background: red url(images/theme/dialogButtonBg.gif) repeat-x;
  background-size: 100% 100%;
  border-color: #ccff00;
}
/* line 160, ../../theme-base/sass/_layout-mixins.scss */
.j-button:hover > a > span, .j-button:focus > a > span {
  color: #ccff00;
}
/* line 164, ../../theme-base/sass/_layout-mixins.scss */
.j-button:active {
  background: red url(images/theme/dialogButtonBgPressed.gif) repeat-x;
  background-size: 100% 100%;
}
/* line 175, ../../theme-base/sass/_layout-mixins.scss */
.j-button:active > a > span {
  color: #ccff00;
}

/* line 72, ../../theme-base/sass/_base-styles.scss */
.j-button-disabled {
  background: red url(images/theme/dialogButtonBg.gif) repeat-x;
  background-size: 100% 100%;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  display: inline-block;
  border: 1px solid #c9ffe5;
  border-right-color: #e30b5c;
  border-bottom-color: #e30b5c;
  margin: 0;
}
/* line 119, ../../theme-base/sass/_layout-mixins.scss */
.j-button-disabled > a {
  min-height: 20px;
  line-height: 16px;
  text-decoration: none;
  display: inline-block;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 125, ../../theme-base/sass/_layout-mixins.scss */
.j-button-disabled > a > span {
  font-family: Papyrus;
  font-weight: bold;
  font-size: 12px;
  color: #01a368;
  padding: 2px 3px 2px 3px;
  white-space: nowrap;
  vertical-align: middle;
}
/* line 183, ../../theme-base/sass/_layout-mixins.scss */
.j-button-disabled:hover, .j-button-disabled:focus {
  cursor: default;
}

/* line 73, ../../theme-base/sass/_base-styles.scss */
.j-button-primary {
  background: red url(images/theme/dialogButtonBg.gif) repeat-x;
  background-size: 100% 100%;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  display: inline-block;
  border: 1px solid #c9ffe5;
  border-right-color: #e30b5c;
  border-bottom-color: #e30b5c;
  margin: 0;
}
/* line 119, ../../theme-base/sass/_layout-mixins.scss */
.j-button-primary > a {
  min-height: 20px;
  line-height: 16px;
  text-decoration: none;
  display: inline-block;
  -moz-user-select: -moz-none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
/* line 125, ../../theme-base/sass/_layout-mixins.scss */
.j-button-primary > a > span {
  font-family: Papyrus;
  font-weight: bold;
  font-size: 12px;
  color: lime;
  text-shadow: none;
  padding: 2px 3px 2px 3px;
  white-space: nowrap;
  vertical-align: middle;
}
/* line 148, ../../theme-base/sass/_layout-mixins.scss */
.j-button-primary:hover, .j-button-primary:focus {
  outline: 0;
  cursor: pointer;
  border-style: solid ;
  border-width: 1px ;
  border-color: #f52c77 #e30b5c #820635 #e30b5c ;
}
/* line 160, ../../theme-base/sass/_layout-mixins.scss */
.j-button-primary:hover > a > span, .j-button-primary:focus > a > span {
  color: #ccff00;
}
/* line 164, ../../theme-base/sass/_layout-mixins.scss */
.j-button-primary:active {
  background: red url(images/theme/dialogButtonBgPressed.gif) repeat-x;
  border-style: solid ;
  border-width: 1px ;
  border-color: #820635 #e30b5c #f52c77 #e30b5c ;
  background-size: 100% 100%;
}
/* line 175, ../../theme-base/sass/_layout-mixins.scss */
.j-button-primary:active > a > span {
  color: #ccff00;
  text-shadow: none;
}

/* line 74, ../../theme-base/sass/_base-styles.scss */
.j-toolbar-item {
  padding: 4px 0px 4px 8px;
}

/* line 1, ../../theme-base/sass/_css-to-java-exports.scss */
platformCssElements {
  grid-hidden-column-width: 8px;
  grid-column-header-default-height: 17px;
  grid-row-header-checkbox-width: 20px;
  grid-row-header-icon-width: 10px;
  grid-row-header-default-width: 19px;
  grid-row-header-background-color-default: #d2d2d2;
  grid-cell-background-editable-color-default: #F6EDC5;
  grid-cell-background-color-red: #FF6666;
  grid-cell-background-color-orange: #FFCC66;
  grid-cell-background-color-default: #EDF3F9;
  grid-cell-color-yellow: #FFFF99;
  grid-cell-color-lightgreen: #BEEDBE;
  grid-cell-color-lightblue: #BDD3EE;
  grid-cell-color-red: #FF0000;
  grid-cell-color-orange: #FF9900;
  grid-cell-color-default: #F6EDE8;
  grid-cell-color-lavender: #CCCCFF;
  grid-cell-color-black: #000000;
  grid-cell-color-gray: #CCCCCC;
  grid-cell-color-white: #FFFFFF;
  grid-cell-color-darkred: #CC3333;
  grid-cell-color-darkblue: #006699;
  grid-cell-color-highlight: #DAE8FA;
  font-default: arial;
  font-arial: arial;
  font-tahoma: Tahoma;
  font-timesnewroman: Times New Roman;
  font-courier: Courier;
  font-msgothic: MSGothic;
  font-verdana: verdana;
  font-helvetica: helvetica;
  font-sansserif: sans-serif;
  text-font-color-default: #000000;
  text-font-family-default: arial;
  font-size-default: 11px;
  font-size-8: 8px;
  font-size-9: 9px;
  font-size-10: 10px;
  font-size-11: 11px;
  font-size-12: 12px;
  font-size-13: 13px;
  font-size-14: 14px;
  font-size-15: 15px;
  horizontal-alignment-default: right;
  vertical-alignment-default: middle;
}
