/* @import 'all'; */
/*** TODO: GK - please change here to the proper global colors **/
/***********************************************  Business Graph Flyout  *******************************************************/
/* line 10, ../sass/jda_pivotBusinessGraph.scss */
.pivotBusinessGraphWrapper {
  /*min-width: 600px; 	
  min-height: 350px;*/
}
/* line 14, ../sass/jda_pivotBusinessGraph.scss */
.pivotBusinessGraphWrapper #pivotBusinessGraphFlyout {
  margin-left: 0px !important;
  left: 0% !important;
  padding-left: 5px;
  padding-right: 5px;
  overflow: hidden;
  height: 350px;
  font: normal normal normal 11px/normal Verdana;
}

/* line 25, ../sass/jda_pivotBusinessGraph.scss */
.j-pvt-styling-panel .j-bg-addconfig {
  background-image: url("../../../../jda/images/expand.png");
  background-size: 30px 30px;
}
/* line 29, ../sass/jda_pivotBusinessGraph.scss */
.j-pvt-styling-panel .j-bg-editconfig {
  background-image: url("../../../../jda/images/edit-white.png");
  background-size: 15px 15px;
}

/* line 36, ../sass/jda_pivotBusinessGraph.scss */
.custom-row-disabled .x-grid-cell {
  color: #999;
}

/* line 42, ../sass/jda_pivotBusinessGraph.scss */
.custom-row-hidden .x-grid-cell {
  display: none;
}

/* line 48, ../sass/jda_pivotBusinessGraph.scss */
.x-grid-row .custom-row-background {
  background-color: #FFFF00;
}
/* line 51, ../sass/jda_pivotBusinessGraph.scss */
.x-grid-row .custom-tagfield-column-1 {
  background-color: #F5F5F5;
  border-style: solid;
  border-width: 2px 0px 2px 2px;
  border-color: #FFFFFF !important;
  color: #000000 !important;
}
/* line 58, ../sass/jda_pivotBusinessGraph.scss */
.x-grid-row .custom-tagfield-column-2 {
  background-image: url("../../../images/close-filter.png");
  background-position: center;
  background-repeat: no-repeat;
  border-style: solid;
  border-color: #FFFFFF !important;
  border-width: 2px 2px 2px 0px;
  background-color: #F5F5F5;
  color: #000000 !important;
  cursor: pointer;
}
/* line 69, ../sass/jda_pivotBusinessGraph.scss */
.x-grid-row .custom-bar-chart {
  background-image: url("../../../images/chart_column.PNG");
  background-position: center;
  background-repeat: no-repeat;
  border-style: solid;
  border-color: #FFFFFF !important;
  border-width: 2px 2px 2px 2px;
  background-color: #F5F5F5;
  color: #000000 !important;
}

/* line 81, ../sass/jda_pivotBusinessGraph.scss */
.x-grid-item-focused .x-grid-cell-inner:before {
  display: none;
}

/* line 86, ../sass/jda_pivotBusinessGraph.scss */
.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* line 92, ../sass/jda_pivotBusinessGraph.scss */
.split-panel-separation {
  background-color: #F0F6F8;
}

/* line 95, ../sass/jda_pivotBusinessGraph.scss */
#buildgraphpanel div.x-splitter {
  background-repeat: no-repeat;
  background-image: url("../../../../jda/images/drag-handle-rectangular.png");
  background-position: center;
}
