// List Icons
// -------------------------

.#{$jf-css-prefix}-ul {
  padding-left: 0;
  margin-left: $jf-li-width;
  list-style-type: none;
  > li { position: relative; }
}
.#{$jf-css-prefix}-li {
  position: absolute;
  left: -$jf-li-width;
  width: $jf-li-width;
  top: (2em / 14);
  text-align: center;
  &.#{$jf-css-prefix}-lg {
    left: -$jf-li-width + (4em / 14);
  }
}
