// Variables
// --------------------------

$jf-font-path:        "fonts" !default;
//$jf-font-path:        "//netdna.bootstrapcdn.com/font-awesome/4.1.0/fonts" !default; // for referencing Bootstrap CDN font files directly
$jf-css-prefix:       jf !default;
$jf-version:          "1.2.0" !default;
$jf-border-color:     #eee !default;
$jf-inverse:          #fff !default;
$jf-li-width:         (30em / 14) !default;

$jf-var-space: "\0020";
$jf-var-add: "\E01F";
$jf-var-add-btn: "\E020";
$jf-var-add-comment: "\E04D";
$jf-var-add-favorites: "\E023";
$jf-var-add-folder: "\E032";
$jf-var-alert-require-field: "\E039";
$jf-var-attachment: "\E045";
$jf-var-audio: "\E044";
$jf-var-back: "\E057";
$jf-var-bottom: "\E05B";
$jf-var-calculate: "\E04A";
$jf-var-calendar: "\E041";
$jf-var-cancel-close: "\E02C";
$jf-var-chart: "\E040";
$jf-var-clock: "\E103";
$jf-var-collapsed: "\E00C";
$jf-var-collapsed-all: "\E00D";
$jf-var-comments: "\E05D";
$jf-var-confrim: "\E02B";
$jf-var-copy: "\E02D";
$jf-var-copy-multiple: "\E02E";
$jf-var-critical-error: "\E03C";
$jf-var-delete: "\E021";
$jf-var-down: "\E012";
$jf-var-edit: "\E028";
$jf-var-expanded: "\E00E";
$jf-var-expanded-all: "\E00F";
$jf-var-export: "\E01D";
$jf-var-export-to-database: "\E050";
$jf-var-favorites: "\E022";
$jf-var-filter: "\E036";
$jf-var-find: "\E033";
$jf-var-firstpage: "\E000";
$jf-var-folder: "\E02F";
$jf-var-foward: "\E058";
$jf-var-grid-view: "\E047";
$jf-var-go-to: "\E04E";
$jf-var-graph: "\E03F";
$jf-var-grid: "\E03E";
$jf-var-help: "\E03B";
$jf-var-help-btn: "\E03A";
$jf-var-hierarchy: "\E105";
$jf-var-home: "\E023";
$jf-var-image: "\E046";
$jf-var-import: "\E023";
$jf-var-import-from-cloud: "\E056";
$jf-var-import-from-database: "\E052";
$jf-var-information: "\E038";
$jf-var-last-page: "\E005";
$jf-var-last-page-down: "\E009";
$jf-var-last-page-up: "\E006";
$jf-var-left: "\E013";
$jf-var-library: "\E029";
$jf-var-list-view: "\E048";
$jf-var-lock: "\E04F";
$jf-var-log-in: "\E01C";
$jf-var-log-out: "\E01B";
$jf-var-maximize: "\E017";
$jf-var-menu: "\E053";
$jf-var-minimize: "\E018";
$jf-var-more-options: "\E037";
$jf-var-move: "\E016";
$jf-var-move-back: "\E00A";
$jf-var-move-foward: "\E00B";
$jf-var-next: "\E003";
$jf-var-next-down: "\E008";
$jf-var-next-page: "\E004";
$jf-var-open-folder: "\E030";
$jf-var-open-tab: "\E059";
$jf-var-pin: "\E024";
$jf-var-preview: "\E02A";
$jf-var-previous: "\E002";
$jf-var-previous-page: "\E001";
$jf-var-previous-up: "\E007";
$jf-var-print: "\E035";
$jf-var-refresh: "\E019";
$jf-var-refresh-database: "\E051";
$jf-var-remove-folder: "\E031";
$jf-var-report: "\E023";
$jf-var-resources: "\E060";
$jf-var-restore-reset: "\E01A";
$jf-var-right: "\E011";
$jf-var-save: "\E026";
$jf-var-scenario-management: "\E100";
$jf-var-search: "\E034";
$jf-var-settings: "\E027";
$jf-var-sort-ascending: "\E015";
$jf-var-sort-descending: "\E014";
$jf-var-tab-overflow: "\E05E";
$jf-var-thumbs-down: "\E062";
$jf-var-thumbs-up: "\E061";
$jf-var-top: "\E05A";
$jf-var-unpin: "\E025";
$jf-var-up: "\E010";
$jf-var-upload-to-cloud: "\E055";
$jf-var-video: "\E023";
$jf-var-warning-error: "\E03D";
$jf-var-wizard: "\E023";
$jf-var-zoom-in: "\E04B";
$jf-var-zoom-out: "\E04C";
$jf-var-collapse-up: "\E063";
$jf-var-expand-down: "\E064";
$jf-var-expand-right: "\E065";
$jf-var-collapse-left: "\E066";

//below variables are added for showing gadget icons on dashboard
$jf-var-dashboard-exception: "\E039";
$jf-var-dashboard-kpi: "\E106";
$jf-var-dashboard-graph: "\E040";
$jf-var-dashboard-worklist: "\E048";

//below variable is added for showing flag icon for notifications
$jf-var-flag: "\E20E";
$jf-var-confirm: "\E02B";
$jf-var-link: "\E067";